{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h1 class="article-title">{{ title }}</h1>
      <div class="article-metadata">
        <small class="text-muted">{{ employee.date_posted.strftime('%Y-%m-%d') }}</small>
        <br/>
        <br/>
        {% if employee.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('edit_employee_data', employee_id = employee.id) }}">Update</a>
          </div>
        {% endif %}
      </div>

        <h3 class="article-title"><strong>Name:</strong></h3> <h4>{{ employee.name }}</h4> <br/>
        <h3 class="article-title"><strong>Email:</strong></h3><h4> {{ employee.email }}</h4> <br/>
        <h3 class="article-title"><strong>Address:</strong></h3><h4>{{ employee.address }}</h4> <br/>
        <h3 class="article-title"><strong>City:</strong></h3> <h4>{{ employee.city }}</h4> <br/>
        <h3 class="article-title"><strong>State:</strong></h3> <h4>{{ employee.state }}</h4> <br/>
        <h3 class="article-title"><strong>Zip Code:</strong></h3><h4>{{ employee.zip }}</h4> <br/>
        <h3 class="article-title"><strong>Phone:</strong></h3> <h4>{{ employee.phone }}</h4> <br/>
    </div>
    <div class="modal-footer">
          <form action="{{ url_for('edit_employee_data', employee_id=employee.id) }}">
            <input class="btn btn-success" type="submit" value="Update">
          </form>
          <form action="{{ url_for('delete_employee_data', employee_id=employee.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
  </article>
{% endblock content %}
